@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap");
:root {
  --swiper-theme-color: #00225B;
}

body,
* {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: normal;
}

body {
  overflow-x: hidden;
}

.header {
  left: 0;
  top: 0;
  z-index: 5;
  background: transparent;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.header.hide {
  top: 0px;
  background: #fff;
  -webkit-animation: smoothScroll 1s forwards;
          animation: smoothScroll 1s forwards;
  -webkit-box-shadow: 0 1px 7px -1px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 7px -1px rgba(0, 0, 0, 0.15);
}

.text-white-low {
  color: rgba(255, 255, 255, 0.5);
}

h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #00225B;
}

.navbar-light .navbar-toggler {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-toggler-icon {
  width: 2em;
  height: 2em;
}

.sidenav {
  display: block;
  position: fixed;
  left: -300px;
  top: 0;
  width: 300px;
  height: 100%;
  background-color: #FFFFFF;
  overflow: auto;
  z-index: 12;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
}
.sidenav h2 {
  display: block;
  position: relative;
  padding: 20px;
  border-bottom: 1px solid #F3F6F9;
}
.sidenav .menu {
  display: block;
  position: relative;
}
.sidenav .menu a {
  display: block;
  position: relative;
  line-height: 50px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
  font-size: 14px;
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #F3F6F9;
}
.sidenav .menu a:hover {
  color: #1094F3;
}
.sidenav .menu a:last-child {
  border-bottom: none;
}
.sidenav .menu button {
  margin-left: 20px !important;
  margin-top: 20px !important;
}
.sidenav .menu button:last-child {
  margin-left: auto !important;
}

.sidenav.active {
  left: 0;
  padding-bottom: 30px;
}

.sidenav-overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.62);
  z-index: 11;
}

.navbar-transparent {
  background-color: transparent !important;
  padding: 0;
  line-height: 60px;
}

.navbar {
  padding: 0;
  height: 80px;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav.second_nav .nav-link,
.navbar-light .navbar-nav .show > .nav-link {
  color: #00225B;
}

.navbar-nav .nav-link.active,
.navbar-nav.second_nav .nav-link {
  font-weight: 500;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 34, 91, 0.75);
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #00225b;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.banner-inside {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.banner-inside::before {
  content: "";
  position: absolute;
  background: url(../img/bg-banner.svg);
  left: 48%;
  width: -webkit-fill-available;
  height: 100%;
  background-repeat: no-repeat;
  z-index: -1;
}
.banner-inside .text-inline {
  color: #00225B;
  bottom: 0;
  display: inline-block;
  font-weight: 400;
  height: 20px;
  margin: 10rem 0 0 0px;
  padding: 0;
  text-align: left;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: left;
          transform-origin: left;
  white-space: nowrap;
  width: 15px;
}
.banner-inside .text-inline span {
  color: #00225B;
}
.banner-inside .text-inline::before {
  content: "";
  position: absolute;
  top: 16px;
  bottom: 0;
  left: 7rem;
  height: 1px;
  width: 50px;
  background: #00225B;
}
.banner-inside .banner-slides .swiper-button-prev:after,
.banner-inside .banner-slides .swiper-button-next:after {
  font-size: 20px;
}
.banner-inside .banner-slides .swiper-button-next,
.banner-inside .banner-slides .swiper-container-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
  top: auto;
  bottom: 10%;
}
.banner-inside .banner-slides .swiper-button-prev,
.banner-inside .banner-slides .swiper-container-rtl .swiper-button-next {
  left: auto;
  right: 35px;
  top: auto;
  bottom: 10%;
}
.banner-inside .swiper-pagination-bullet {
  display: block;
}
.banner-inside .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 5px;
}
.banner-inside .swiper-container-horizontal > .swiper-pagination-bullets {
  width: initial;
  top: 50%;
  right: 0;
  bottom: inherit;
  left: inherit;
}
.banner-inside .swiper-button-next:after,
.banner-inside .swiper-button-prev:after {
  font-size: 24px;
}

.pt-6 {
  padding-top: 8rem;
}

.h-100vh {
  height: 100vh;
}

.banner-img {
  z-index: 2;
}

@supports (-webkit-text-stroke: 2px #2665C8) {
  .vr-stroke {
    -webkit-text-stroke: 2px #2665C8;
    -webkit-text-fill-color: transparent;
  }
}
.vr-title {
  font-size: 8rem;
  line-height: 95px;
}

.vr-head {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #00225B;
}

.vr-heading {
  font-style: italic;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
}

.text-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #00225B;
}

.descriptions {
  position: relative;
  top: -8rem;
}

.text-primary {
  color: #2665C8 !important;
}

.vr-primary {
  color: #00225B;
}

.vr-titleheader {
  font-style: italic;
  font-weight: 800;
  font-size: 170px;
  line-height: 232px;
  -webkit-text-stroke: 1px rgba(0, 34, 91, 0.2);
  -webkit-text-fill-color: transparent;
}
.vr-titleheader.header-feature {
  font-style: italic;
  font-weight: 800;
  font-size: 170px;
  line-height: 150px;
  left: -7%;
  -webkit-text-stroke: 1px rgba(0, 34, 91, 0.2);
  -webkit-text-fill-color: transparent;
  position: relative;
}
.vr-titleheader.title-services {
  right: -40%;
  position: relative;
  line-height: 0;
  top: 6rem;
}
.vr-titleheader.wedo {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
}

.vr-titleheading {
  font-style: italic;
  font-weight: 800;
  font-size: 170px;
  line-height: 40px;
  color: rgba(38, 101, 200, 0.1);
}

.section-innr::before {
  content: "WHY US";
  font-style: italic;
  font-weight: 800;
  font-size: 170px;
  line-height: normal;
  position: absolute;
  color: rgba(38, 101, 200, 0.1);
}

.section-events {
  position: relative;
}
.section-events::before {
  content: "EVENTS";
  font-style: italic;
  font-weight: 800;
  font-size: 170px;
  line-height: normal;
  position: absolute;
  color: rgba(38, 101, 200, 0.1);
}
.section-events .swiper-slide:nth-child(even) {
  margin-top: 6rem;
}
.section-events .swiper-slide .top-content {
  position: absolute;
  right: 25px;
  left: 40%;
  top: 20px;
  z-index: 3;
}
.section-events .swiper-slide .top-content p {
  font-style: italic;
  font-size: 12px;
  margin-bottom: 0;
}
.section-events .swiper-slide .top-content h2 {
  font-style: italic;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: right;
  margin-bottom: 0;
}
.section-events .swiper-slide .events-carousel figure {
  max-width: 300px;
}
.section-events .swiper-slide .events-carousel figure:after {
  top: 20px;
  left: 20px;
}
.section-events .swiper-slide .events-carousel .card-title {
  top: auto;
  left: 30px;
  bottom: 30px;
}
.section-events .swiper-slide .events-carousel .card-title h4 {
  font-family: Lora, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 61px;
  color: #000000;
  text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);
}
.section-events .events-nav-slide {
  position: absolute;
  bottom: 0;
}
.section-events .swiper-pagination-bullet {
  display: block;
}
.section-events .swiper-container-horizontal > .swiper-pagination-bullets {
  width: initial;
  top: 0%;
  right: 0;
  bottom: inherit;
  left: inherit;
}
.section-events .swiper-pagination-current {
  color: #00225B;
}
.section-events .swiper-pagination-total {
  color: #2665C8;
}

.services {
  padding: 2rem 8rem;
  position: relative;
}
.services.vr-titleheader {
  font-style: italic;
  font-weight: 800;
  font-size: 170px;
  line-height: 232px;
  color: rgba(38, 101, 200, 0.1);
}
.services .services-icon {
  width: 90px;
  height: 90px;
  background: #2665C8;
  line-height: 90px;
  text-align: center;
  border-radius: 100%;
  margin-bottom: 2rem;
}

.vr-button {
  color: #fff;
  background: #00225B;
  -webkit-box-shadow: 0px 10px 10px -7px rgba(3, 14, 32, 0.35);
          box-shadow: 0px 10px 10px -7px rgba(3, 14, 32, 0.35);
  border: 1px solid #00225B;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 0;
}
.vr-button:hover {
  color: #00225B;
  background: #fff;
  border: 1px solid #00225B;
}
.vr-button.blue {
  border: 1px solid #2665C8;
  background-color: #2665C8;
}
.vr-button.blue:hover {
  color: #2665C8;
  background: #fff;
  border: 1px solid #2665C8;
}
.vr-button.yellow {
  font-size: 24px;
  border: 1px solid #FFCA00;
  background: #FFCA00;
  color: #000;
  -webkit-box-shadow: 0px 10px 10px -7px rgba(3, 14, 32, 0.35);
          box-shadow: 0px 10px 10px -7px rgba(3, 14, 32, 0.35);
}
.vr-button.yellow:hover {
  color: #000;
  background: #fff;
  border: 1px solid #fff;
}
.vr-button.rounded {
  font-size: 14px;
  border-radius: 100px !important;
  padding: 3px 20px;
}

.vr-outline {
  color: #FF4D00;
  -webkit-filter: drop-shadow(0px 5px 35px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 5px 35px rgba(0, 0, 0, 0.1));
  background: #FFFFFF;
  border: 1px solid #FF4D00;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  border-radius: 100px;
  padding: 3px 10px;
  white-space: nowrap;
}

.text-normal {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.05em;
  color: #727272;
}

.bg-ct12 {
  background-image: url(../img/bg-122.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.vr-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.05em;
  color: #727272;
}

.vr-textbold {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 67px;
  text-align: center;
  color: #2665C8;
}

.numbering {
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 70px;
  color: rgba(0, 34, 91, 0.05);
  position: relative;
  bottom: -20%;
}

.vr-textheading {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 36px;
  color: #00225B;
}

.features {
  position: relative;
}
.features::before {
  content: "";
  background-image: url(../img/bg-line.svg);
  background-repeat: no-repeat;
  position: absolute;
  right: -70%;
  height: 100%;
  width: 100%;
  z-index: -1;
}
@media (max-width: 1024px) {
  .features::before {
    display: none;
  }
}
.features .img-apps {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  max-width: calc(90% / 2);
  right: 0;
}

.history .history-icon {
  background: rgba(38, 101, 200, 0.07);
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 100%;
  margin-bottom: 2rem;
}
.history ul {
  list-style-image: url("../img/Icons/listing.svg");
}
.history ul li {
  margin-bottom: 1rem;
}

.banner-full {
  height: 100%;
  width: 100%;
  background: no-repeat;
  background-size: cover;
  -o-background-size: cover;
  overflow-x: hidden;
}
.banner-full.bg-client {
  background-image: url(../img/bg-client.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  overflow-x: hidden;
}
.banner-full.banner-about {
  background: url(../img/bg-about.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-full.banner-contact {
  background: url(../img/bg-contact.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-full.banner-pricing {
  background: url(../img/bg-120.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-full.banner-events {
  background: url(../img/bg-121.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-full.ebanner {
  background-image: url(../img/bg-123.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.banner-full.bg-service {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.banner-full.bg-service::before {
  content: "";
  background-image: url(../img/yellow-line.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: -45%;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.banner-full .clients-logo .swiper-button-next,
.banner-full .clients-logo .swiper-container-rtl .swiper-button-prev {
  right: 10px;
  left: 50%;
  bottom: -10px;
  top: auto;
}
.banner-full .clients-logo .swiper-button-prev,
.banner-full .clients-logo .swiper-container-rtl .swiper-button-next {
  left: auto;
  right: 50%;
  top: auto;
  bottom: -10px;
}
.banner-full .clients-logo .swiper-pagination-bullet {
  display: block;
}
.banner-full .clients-logo .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 5px;
}
.banner-full .clients-logo .swiper-container-horizontal > .swiper-pagination-bullets {
  width: initial;
  top: 50%;
  right: 0;
  bottom: inherit;
  left: inherit;
}
.banner-full .clients-logo .swiper-button-next:after,
.banner-full .clients-logo .swiper-button-prev:after {
  font-size: 16px;
  color: #fff;
}
.banner-full .clients-logo .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 150px;
  text-align: center;
}

.block-caption {
  font-family: Open Sans, sans-serif;
  color: #00225B;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 87px;
  text-align: center;
}
.block-caption small {
  font-weight: normal;
}
.block-caption small:first-child {
  position: relative;
  top: -30px;
  font-size: 20px;
}
.block-caption small:last-child {
  position: relative;
  font-size: 20px;
}

.vr-apps {
  background: #00225B;
}
.vr-apps .vr-normal {
  letter-spacing: 0.7px;
  opacity: 0.7;
}
.vr-apps .vr-apps-list img {
  width: 100px;
  max-width: 100%;
}

.m-20 {
  margin: 0 20rem;
}

.footer {
  background-image: url(../img/bg-footer.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}
.footer .main-footer {
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.footer .form-input {
  background: rgba(255, 255, 255, 0.07);
  border: none;
  color: #fff;
}
.footer .input-group-text {
  margin: 0 !important;
  background: rgba(255, 255, 255, 0.07);
  border: none;
  color: orange;
}
.footer .list-inline {
  margin-bottom: 20px;
}
.footer .list-inline .list-inline-item {
  font-weight: 300;
}

.events-block .vr-form-input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #999;
  color: #000;
  border-radius: 0;
}
.events-block .input-group-text {
  background: rgba(255, 255, 255, 0.07);
  border: 1px solid rgba(255, 255, 255, 0.07);
  color: #2665C8;
}

.countdown .banner-title {
  position: relative;
  background: #000;
  margin-top: -100px;
  min-height: 200px;
  z-index: 2;
}
.countdown .banner-title h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #FFFFFF;
}
.countdown .banner-title .price-tag {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 55px;
  color: #FFCA00;
}
.countdown .banner-times {
  position: relative;
  background: #FFCA00;
}
.countdown .banner-times li {
  display: inline-block;
  list-style-type: none;
  padding: 1em;
  text-transform: capitalize;
}
.countdown .banner-times li span {
  display: block;
  font-weight: bold;
  font-size: 70px;
  line-height: 105px;
}

.events .card {
  -webkit-transition: opacity 0.2s ease-out, -webkit-box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: opacity 0.2s ease-out, -webkit-box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: box-shadow 0.3s ease-out, transform 0.3s ease-out, opacity 0.2s ease-out;
  transition: box-shadow 0.3s ease-out, transform 0.3s ease-out, opacity 0.2s ease-out, -webkit-box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
.events .card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}
.events .card .location,
.events .card .date {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.events .card .location svg,
.events .card .date svg {
  margin-right: 5px;
}
.events .card .card-img-top {
  min-height: 180px;
  max-height: 200px;
  overflow: hidden;
  background-size: cover;
}

.breadcrumb .breadcrumb-item a {
  color: #fff;
  text-decoration: none;
}
.breadcrumb .breadcrumb-item.active {
  color: #80a5dd;
}
.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  float: left;
  position: relative;
  content: "";
  padding: 0;
  width: 4px;
  height: 4px;
  bottom: -8px;
  line-height: 6px;
  background: #81a5de;
  margin: 0 10px 10px 4px;
  border-radius: 100px;
}

.social-links {
  position: absolute;
  top: 50%;
  left: 9%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.social-links li a {
  border: 1px solid rgba(0, 34, 91, 0.15);
  margin: 2px;
  border-radius: 50%;
  text-align: center;
  line-height: 27px;
  width: 30px;
  height: 30px;
}
.social-links li a svg {
  font-size: 16px;
  color: #00225B;
}

.card-teams {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  background-color: transparent;
}
.card-teams figure {
  position: relative;
  max-width: 200px;
  -webkit-box-shadow: 0px 35px 35px -30px rgba(0, 0, 0, 0.55);
          box-shadow: 0px 35px 35px -30px rgba(0, 0, 0, 0.55);
}
.card-teams figure:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 15px;
  left: 15px;
  border: 1px solid salmon;
}
.card-teams figure img {
  position: relative;
  display: block;
  width: 100%;
  z-index: 2;
}
.card-teams .card-title {
  position: absolute;
  left: 25%;
  top: 35%;
  z-index: 2;
}
.card-teams .card-title h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 1.3;
  color: #2665C8;
  text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);
  max-width: 70%;
}
.card-teams .card-title .position {
  color: #FF4D00;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.service-block .service-items {
  position: relative;
  text-align: center;
}
.service-block .service-items figure {
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.service-block .service-items figure:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.service-block .service-items figure img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.service-block .service-items:hover {
  cursor: pointer;
}
.service-block .service-items:hover figure:after {
  background-color: rgba(38, 101, 200, 0.8);
}
.service-block .service-items .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  z-index: 1;
}

@media only screen and (max-width: 500px) {
  .services {
    padding: 15px !important;
  }

  .vr-titleheader {
    font-size: 70px;
    line-height: 70px;
  }
  .vr-titleheader.header-feature {
    font-size: 70px !important;
    line-height: normal;
  }
  .vr-titleheader.title-services {
    right: 0;
    line-height: normal;
  }

  .section-innr::before {
    font-size: 70px;
  }

  .features::before {
    display: none;
  }

  .banner-inside {
    height: 100% !important;
    top: 90px;
  }
  .banner-inside .text-inline {
    height: auto;
    margin: 0px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    width: auto;
  }
  .banner-inside .text-inline::before {
    display: none;
  }

  .vr-heading {
    font-size: 32px;
    line-height: normal;
  }
}
@media screen and (max-width: 768px) {
  .services {
    padding: 15px !important;
  }
  .services .services-icon {
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin-bottom: 1rem;
  }

  .countdown .banner-title {
    margin-top: 0;
  }
  .countdown .banner-times ul {
    padding-left: 0;
  }
  .countdown .banner-times ul li {
    font-size: 1.125rem;
    padding: 0.75rem;
  }
  .countdown .banner-times ul li span {
    font-size: 3.375rem;
  }

  .vr-titleheader {
    font-size: 70px;
  }
  .vr-titleheader.header-feature {
    font-size: 70px !important;
    line-height: normal;
  }
  .vr-titleheader.title-services {
    right: 0;
    line-height: normal;
  }

  .section-innr::before,
.section-events::before {
    font-size: 70px;
  }

  .features::before {
    display: none;
  }
  .features .img-apps {
    display: none;
  }

  .banner-inside {
    height: 100% !important;
  }
  .banner-inside::before {
    background-size: cover;
    left: 0;
  }
  .banner-inside .social-links {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: row-reverse !important;
            flex-direction: row-reverse !important;
  }
  .banner-inside .vr-title {
    font-size: 5rem;
    line-height: 60px;
  }

  .banner-full.bg-service::before {
    background-size: cover;
    right: 0;
  }

  .noshow {
    display: none !important;
  }

  .vr-textbold {
    font-size: 26px;
    line-height: normal;
  }

  footer {
    background-position: top;
  }
}
@media screen and (max-width: 900px) and (min-width: 769px) {
  .services {
    padding: 15px !important;
  }
  .services .services-icon {
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin-bottom: 1rem;
  }

  .banner-inside {
    height: 100%;
  }

  .countdown .banner-title {
    margin-top: 0;
  }
  .countdown .banner-times ul {
    padding-left: 0;
  }
  .countdown .banner-times ul li {
    font-size: 1.125rem;
    padding: 0.75rem;
  }
  .countdown .banner-times ul li span {
    font-size: 3.375rem;
  }

  .vr-titleheader {
    font-size: 120px;
  }
  .vr-titleheader.header-feature {
    font-size: 120px !important;
    line-height: normal;
  }
  .vr-titleheader.title-services {
    right: 0;
    line-height: normal;
  }

  .section-innr::before,
.section-events::before {
    font-size: 120px;
  }
  .section-innr .swiper-slide .events-carousel .card-title h4,
.section-events .swiper-slide .events-carousel .card-title h4 {
    font-size: 32px;
    line-height: normal;
    text-shadow: 0px 3px 8px white;
    max-width: 100%;
  }
  .section-innr .swiper-slide .top-content,
.section-events .swiper-slide .top-content {
    left: auto;
    width: 80%;
  }

  .card-teams .card-title {
    left: 15%;
    top: auto;
    bottom: 5%;
  }
  .card-teams .card-title h4 {
    max-width: 100%;
  }
  .card-teams .card-title .position {
    color: #FF4D00;
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
    background: #f2f3f4cc;
    display: inline-block;
    padding: 0px 15px;
    border-radius: 20px;
  }

  .height-inner {
    padding-top: 6rem;
  }

  .noshow {
    display: none !important;
  }

  .vr-textbold {
    font-size: 26px;
    line-height: normal;
  }

  .pos-update {
    display: inline !important;
  }
}