@media only screen and (max-width: 500px) {
    .services {
        padding: 15px !important;
    }

    .events .card .event-thumbnail {
        max-height: 220px;
        overflow: hidden;
    }

    .vr-titleheader {
        font-size: 70px;
        line-height: 70px;

        &.header-feature {
            font-size: 70px !important;
            line-height: normal;
        }

        &.title-services {
            right: 0;
            line-height: normal;
        }
    }

    .section-innr {
        &::before {
            font-size: 70px;
        }
    }

    .features {
        &::before {
            display: none;
        }
    }

    .banner-inside {
        height: 100% !important;
        top: 90px;

        .text-inline {
            height: auto;
            margin: 0px;
            transform: rotate(0deg);
            width: auto;

            &::before {
                display: none;
            }
        }
    }

    .vr-heading {
        font-size: 32px;
        line-height: normal;
    }
}

@media screen and (max-width: 768px) {
    .services {
        padding: 15px !important;

        .services-icon {
            width: 70px;
            height: 70px;
            line-height: 70px;
            margin-bottom: 1rem;
        }
    }

    .img-article {
        flex-direction: column;
        article {
            order: 2;
        }
        figure {
            margin-bottom: 30px;
            order: 1;
            padding-left: 0;
        }
    }

    .events .card .event-thumbnail {
        max-height: 270px;
        overflow: hidden;
    }

    .countdown {
        .banner-title {
            margin-top: 0;
        }

        .banner-times {
            ul {
                padding-left: 0;

                li {
                    font-size: 1.125rem;
                    padding: .75rem;
                }

                li span {
                    font-size: 3.375rem;
                }
            }
        }
    }

    .vr-titleheader {
        font-size: 70px;

        &.header-feature {
            font-size: 70px !important;
            line-height: normal;
        }

        &.title-services {
            right: 0;
            line-height: normal;
        }
    }

    .section-innr,
    .section-events {
        &::before {
            font-size: 70px;
        }
    }

    .features {
        &::before {
            display: none;
        }

        .img-apps {
            display: none;
        }
    }

    .banner-inside {
        height: 100% !important;

        &::before {
            background-size: cover;
            left: 0;
        }

        .social-links {
            flex-direction: row-reverse !important;
        }

        .vr-title {
            font-size: 5rem;
            line-height: 60px;
        }
    }

    .banner-full {
        &.bg-service {
            &::before {
                background-size: cover;
                right: 0;
            }
        }
    }
    .noshow {
        display: none !important;
    }
    .vr-textbold {
        font-size: 26px;
        line-height: normal;
    }

    footer {
        background-position: top;
    }
}

@media screen and (max-width: 900px) and (min-width: 769px) {

    .services {
        padding: 15px !important;

        .services-icon {
            width: 70px;
            height: 70px;
            line-height: 70px;
            margin-bottom: 1rem;
        }
    }
    .banner-inside {
        height: 100%;
    }

    .countdown {
        .banner-title {
            margin-top: 0;
        }

        .banner-times {
            ul {
                padding-left: 0;

                li {
                    font-size: 1.125rem;
                    padding: .75rem;
                }

                li span {
                    font-size: 3.375rem;
                }
            }
        }
    }

    .vr-titleheader {
        font-size: 120px;

        &.header-feature {
            font-size: 120px !important;
            line-height: normal;
        }

        &.title-services {
            right: 0;
            line-height: normal;
        }
    }

    .section-innr,
    .section-events {
        &::before {
            font-size: 120px;
        }

        .swiper-slide {
            .events-carousel {
                .card-title {
                    h4 {
                        font-size: 32px;
                        line-height: normal;
                        text-shadow: 0px 3px 8px rgb(255 255 255);
                        max-width: 100%;
                    }
                }
            }

            .top-content {
                left: auto;
                width: 80%;
            }
        }
    }

    .card-teams {
        .card-title {
            left: 15%;
            top: auto;
            bottom: 5%;
            h4 {
                max-width: 100%;
            }
            .position {
                color: #FF4D00;
                font-weight: normal;
                font-size: 14px;
                line-height: normal;
                background: #f2f3f4cc;
                display: inline-block;
                padding: 0px 15px;
                border-radius: 20px;
            }
        }
    }

    .height-inner {
        padding-top: 6rem;
    }

    .noshow {
        display: none !important;
    }
    .vr-textbold {
        font-size: 26px;
        line-height: normal;
    }
    .pos-update {
        display: inline!important;
    }
}